.img123{
    width: 80%;
}
.a{
   text-align: center;
   padding-top: 20px;
   letter-spacing:3px ;
    font-family: prague;
    text-transform:uppercase ;
}
.b{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing:1px ;
    padding-left: 5px;
    text-align: justify;


}
@media(max-width: 768px;){
   .img{
    width:100px ;
    margin-top: 20px;
   } 
}